header {
  position: absolute;
  height: 53px;
  left: 0;
  right: 0;
  background-color: #562b81;
  margin: 0 auto;
}

body {
  background-color: #f0f0f0;
}

.header-code-journal {
  /* position: absolute; */

  width: 123px;
  height: 27px;

  /* left: 300px;
  top: -5px; */
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.header-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 750px;
  margin: auto;
}

form {
  font-family: "Proza Libre", sans-serif;
  color: #292929;
}

.new-entry {
  font-weight: 600;
  font-size: 28px;
  line-height: 0;
}

img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 30px;
}

.text-in-form {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
}

#title,
#photo-url,
#notes {
  width: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  margin-bottom: 25px;
}

input:focus,
textarea:focus {
  outline: #562b81 2px solid;
}

#title,
#photo-url {
  height: 35px;
}

.save-button {
  text-align: right;
}

.save-button-detail {
  color: white;
  background-color: #562b81;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
}
