header {
  position: absolute;
  height: 53px;
  left: 0;
  right: 0;
  background-color: #562b81;
}

body {
  background-color: #f0f0f0;
  font-family: "Proza Libre", sans-serif;
}

.navbar {
  width: 772px;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

.navbar-unordered-list {
  padding: 0;
  position: relative;
}

.nav-code-journal {
  font-size: 20px;
}

.nav-new-button {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #562b81;
  padding: 5px 13px 4px;
  border: none;
  border-radius: 4px;
}

form {
  color: #292929;
}

.new-entry {
  font-weight: 600;
  font-size: 25px;
  line-height: 0;
  margin: 0;
  padding-top: 53px;
  padding-left: 0.75rem;
}

.entries {
  font-weight: 600;
  font-size: 25px;
  line-height: 0;
  margin: 0;
  padding-top: 15px;
  padding-left: 0.75rem;
}

img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 30px;
}

.text-in-form {
  font-weight: 600;
  margin-bottom: 10px;
}

#title,
#photo-url,
#notes {
  width: 100%;
  border: 1px solid #b6b6b6;
  border-radius: 4px;
  margin-bottom: 25px;
}

input:focus,
textarea:focus {
  outline: #562b81 2px solid;
}

#title,
#photo-url {
  height: 35px;
}

.save-button {
  text-align: right;
}

.save-button-detail {
  color: white;
  background-color: #562b81;
  padding: 7px 15px;
  border: none;
  border-radius: 4px;
  margin-bottom: 30px;
}

.entries-unordered-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.h3-and-newbutton-unordered-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin: 0;
  margin-top: 15px;
}

/* ----- media query -----  */

@media screen and (min-width: 768px) {
  .container {
    max-width: 820px;
  }

  .container2 {
    max-width: 820px;
  }

  .container3 {
    max-width: 820px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 527px;
  }
}

/* mobile screen */
@media screen and (max-width: 420px) {
  body {
    width: 100%;
  }

  .navbar {
    width: 327px;
  }

  .new-entry {
    padding-left: 0.5rem;
  }

  .entries {
    padding-left: 0.5rem;
  }

  img {
    height: 300px;
  }
}
